/* --- category Section Styles --- */
.main-container {
  font-family: 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #1A1A1A;
}

.sticky-top {
  z-index: 1020;
}
.category-bar-wrapper {
  background-color: #ffffff !important;

}

.category-btn {
  background: none;
  border: 1px solid pink ;
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 0.95rem;
  color: #4B5563;  
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.category-btn:hover {
  /* background-color: #F3F4F6; */
  background-color: pink;
}

.category-btn.active {
  background-color: pink;  
  color: #ffffff;
}

/* --- Header Section Styles --- */
.page-title {
  font-size: 2rem;
  font-weight: 700;
 
}

.product-count {
  font-size: 0.9rem;
}
.actions{margin-bottom: 30px;}
.search-group {
  max-width: 70%;
}

.search-group input {
  background-color: #F3F4F6;
  border-radius: 8px;
}

.relevancy-select {
  background-color: #F3F4F6;
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 8px 30px 8px 12px;
}

.filter-btn {
  font-size: 0.9rem;
  padding: 8px 16px;
  border-radius: 8px;
}

/* --- Product Grid & Card Styles --- */

/* no product available now  */
.notFount{
    background-color: rgb(250, 227, 231);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.product-grid .col-md-3 {
  display: flex;
}

.product-card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s ease ,
  box-shadow 0.2s ease; 
  width: 100%;
  border: 1px solid rgb(235, 232, 232) !important;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 20px rgba(0,0,0,0.1) !important;
}

/* Fixing Image Aspect Ratio as per image_2.png */
.card-img-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%; 
  overflow: hidden;
  background-color: #f9f9f9;
}

.card-img-wrapper img {
  border-radius: 20px !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;  
  padding: 10px;  
}

.product-name {
  font-size: 1.0rem;
  font-weight: 600;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.rate-badge {
  font-size: 0.8rem;
  font-weight: bold;
}

.text-warning {
  color: #FBBF24 !important;  
}

/* Price Section Styles */
.price-section .current-price {
  font-size: 1.2rem;
  color: #DB3022;
  font-weight: 500;
}

.old-price {
  font-size: 0.9rem;
}

.discount-badge {
  background-color: #fa796d;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: bold;
}

.add-to-cart-btn {
  background-color: #DB3022;  
  border: none;
  border-radius: 8px;
  font-weight: 500;
  padding: 5px 10px;
}