<section class="hero-wrapper overflow-hidden">
  <div class="container">
    <div class="row align-items-center min-vh-100">
      
      <div class="col-lg-5 text-content">
        <h1 class="main-title">
            Latest Fashion<span>Trends</span>
        </h1>
        <p class="sub-text">
            Discover the newest styles and trends in clothing. From casual wear to formal attire, find everything you need to express your unique style.
        </p>
        
        <div class="btn-group-custom">
          <button class="btn-shop">Shop Now</button>
        </div>
      </div>

      
        <div class="col-lg-7 position-relative text-center">
    <div class="green-square-border"></div>
    
    <div class="model-wrapper">
        <img src="assets/images/fashion.PNG" alt="Fashion Model" class="img-fluid main-model">
    </div>

        <div class="promo-bubble">
          <span class="red-text">20% Off</span> All Products
        </div>

       
        <div class="floating-card design-card">
          <img src="assets/images/feed2.PNG" class="card-thumb">
          <div class="card-info">
            <h6>Latest Design</h6>
            <div class="stars">★★★★☆</div>
            <p>$18.00</p>
          </div>
        </div>

        <div class="floating-card user-card">
          <img src="assets/images/feed1.PNG" class="card-thumb circle">
          <div class="card-info">
            <h6>Dikta Anmol</h6>
            <div class="stars">★★★★★</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<div>
   <app-flash-sale></app-flash-sale>
</div>