<nav class="navbar navbar-expand-lg shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="#">
      <img src="assets/images/logo.PNG" alt="Falgon Clothes" width="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product" routerLinkActive="active">Products </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </li>

      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">

        @if(this.globalService.isLoggedIn()) {
        <li class="nav-item" routerLink="/whishlist">
          <a class="nav-link"><i class="bi bi-heart"></i></a>
        </li>
        <li class="nav-item" routerLink="/cart">

          <a class="nav-link"><i class="bi bi-cart2 fs-6"></i></a>
        </li>

        <li class="nav-item" [routerLink]="['/profile', globalService.getUser()?.id]">
          <a class="nav-link"><i class="bi bi-person"></i></a>
        </li>

        <!-- // cart icon  -->
        <!-- <div class="nav-item cursor-pointer position-relative me-4" (click)="toggleCart()">

          <i class="bi bi-cart2 fs-6" routerLink="/cart"></i>
          <span class="badge position-absolute top-0 start-100 
          translate-middle rounded-circle bg-danger" style="font-size: 0.6rem;">
            {{ cartData.length }}
          </span>
        </div>

        <app-cart [isOpen]="isCartVisible" (closeCart)="toggleCart()">
        </app-cart> -->


        <button class="btn-contact d-flex align-items-center gap-2 px-4 py-2 shadow-soft" routerLink="/login"
          (click)="handleLogout()">
          <i class="bi bi-box-arrow-right"></i><span> Logout</span>
        </button>
        }@else{
        <button class="btn d-flex align-items-center gap-2 px-4 py-2 shadow-soft mx-2" routerLink="/login"
          style="border: 1px solid #fdb5c1; border-radius: 20px;">
          <i class="bi bi-box-arrow-in-right"></i> <span> Login In </span>
        </button>
        <button class="btn-contact d-flex align-items-center gap-2 px-4 py-2 shadow-soft" routerLink="/register">
          <i class="bi bi-person-plus"></i><span> Register</span>
        </button>
        }
      </ul>

    </div>

  </div>
</nav>